* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	/* background-color: black; */
	/* color: white; */
	transition: 0.5s all ease-in-out;
}

header {
	border-bottom: 5px solid black;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 20px;
	align-items: center;
}

header div {
	display: flex;
	align-items: center;
}

/* header button {
	padding: 5px;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
} */

#back-button {
	margin-right: 10px;
	padding: 5px;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
}

/* #back-button:hover {
	cursor: pointer;
} */

/* header h1 {
	padding: 20px;
} */

footer {
	border-top: 5px solid black;
	margin-top: 10px;
}

main {
	display: flex;
	flex-direction: column;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	flex-grow: 1;
}

.dark-light-mode-button {
	border: none;
	background: none;
	font-size: 28px;
}

.dark-light-mode-button:hover,
#back-button:hover {
	cursor: pointer;
}

.blog-card {
	display: flex;
	flex-direction: column;
	border: 2px solid gray;
	border-radius: 5px;
	margin: 10px 30px 10px 30px;
	flex-grow: 1;
}

.blog-card h2 {
	border-bottom: 1px solid gray;
	margin: 10px 20px;
}

.content {
	margin: 5px 20px 5px 40px;
}

.author {
	margin: 10px 20px;
}

.blog-card div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
}

footer {
	text-align: center;
}

footer h1 {
	padding: 20px;
}

footer ul {
	font-size: 18px;
	font-style: italic;
	font-weight: bolder;
	list-style-type: none;
	text-align: left;
	padding: 0px 0px 5px 75px;
}

footer ul li span {
	font-weight: 100;
}

.dark-mode {
	background-color: #000;
	color: white;
}

.light-mode {
	background-color: white;
	color: black;
}

/* .dark-light-mode:hover {
	content: '&#127769;';
} */

.dark-mode header {
	border-bottom: 5px solid white;
}

.dark-mode main {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	/* background-color: gray; */
}

.dark-mode footer {
	border-top: 5px solid #fff;
}

.dark-mode #back-button {
	background-color: white;
	color: black;
}
